.modal {
  height: auto;
  width: 100%;

  margin: auto auto 0 auto;
  padding: 1.5rem;
  gap: 1.5rem;
  border-radius: var(--radius) var(--radius) 0 0;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
